<div ng-init='claimView="true";'>
    <ul id='gifts'>
        <li class='loading-indicator' ng-show='!vm.gift'>
            Loading...
        </li>
        <li>
            <dl ng-init='gift = vm.gift' class='gift' id='gift-preview-full'>
                <gift></gift>
            </dl>
        </li>
    </ul>
    <p class='claimBy'>Reservieren für:</p>
    <dl id='gifter-data'>
        <dt>Vorname:</dt>
        <dd>{{"{{"}} vm.gifter.surname {{"}}"}}</dd>
        <dt>Nachname:</dt>
        <dd>{{"{{"}} vm.gifter.lastname {{"}}"}}</dd>
        <dt>E-Mail-Adresse:</dt>
        <dd>{{"{{"}} vm.gifter.email {{"}}"}}</dd>
    </dl>
    <div>
        <p class='info'>
            Beim Absenden wird das Geschenk dauerhaft reserviert. Eine E-Mail mit den hier angezeigten Informationen wird an die angegebene E-Mail-Adresse versandt.
        </p>
        <p class='claimBy'>
            <input type='checkbox' ng-model='vm.understood' /> Verstanden 
        </p>
        <p>
            <button ng-click='vm.submitClaim()' ng-disabled='!vm.understood'>Geschenk reservieren</button>
        </p>
    </div>
</div>
