{% extends 'formMaster.htm' %}
{% from "_formhelpers.htm" import ng_render_field %}

{% block form_attributes %}
    class='claim-gift_form'
    ng-submit='dialog.submit()' 
    ng-show='dialog.shown'
    {#% if not claim_form.validate_on_submit() %}
        ng-init="vm.claimDialog.$setDirty(); vm.show();"
    {% endif %#}
{% endblock %}

{% block form_fields %}
    {#{ claim_form.csrf_token }#}
    {% set args = {
        "minlength": "3",
        "pattern": ".{3}.*", 
        "title": "Mindestens 3 Buchstaben sind erforderlich."} %}
    <p>
    {% set surname_args = {
        'placeholder': "Vorname",
        'ng-model': "dialog.gifter.surname"} %}
    {% set f = surname_args.update(args) %}
    {{ ng_render_field(
        claim_form.surname, 
        **surname_args) }} 
    <field-errors field="dialog.form.surname"></field-errors>
    </p>
    <p>
    {% set lastname_args = {
        'placeholder': "Name",
        'ng-model': "dialog.gifter.lastname"} %}
    {% set f = lastname_args.update(args) %}
    {{ ng_render_field(
        claim_form.lastname, 
        **lastname_args) }}
    <field-errors field="dialog.form.lastname"></field-errors>
    </p>
    <p>
    {{ ng_render_field(
        claim_form.email, 
        **{
            'placeholder': "E-Mail-Adresse", 
            'ng-model': "dialog.gifter.email"}) }}
    <field-errors field="dialog.form.email"></field-errors>
    </p>
    <p>
    <input 
        id='email_confirm' 
        type='email' 
        name="email_confirm"
        ng-model='dialog.gifter.email_confirm' 
        equal-to='dialog.gifter.email' 
        placeholder='E-Mail-Adresse wiederholen'>
    <field-errors field="dialog.form.email_confirm"></field-errors>
    </p>
    {#<p>
        {% for error in claim_form.recaptcha.errors %}
            {{ error }}
        {% endfor %}
    </p>#}
{% endblock %}
{% block form_buttons %}
    <button type='submit'>Ok</button>
{% endblock %}
