{% extends 'formMaster.htm' %}
{% from "_formhelpers.htm" import ng_render_field %}

{% block form_attributes %}
    class='edit-gift_form'
    enctype='multipart/data'
    ng-submit='dialog.submit()'
    ng-show='dialog.shown'
    {#% if not claim_form.validate_on_submit() %}
        ng-init="vm.claimDialog.$setDirty(); vm.show();"
    {% endif %#}
{% endblock %}

{% block form_fields %}
    {#<input type='hidden' ng-model='vm.editDialog.csrfToken' value='{{ csrf_token() }}'></input>#}
    <p>
    {{ ng_render_field(edit_form.giftName, 
        **{ 'placeholder':"Name", 
            'ng-model': "dialog.gift.giftName",  
            'minlength': "3" }) }}
    <field-errors field="dialog.form.giftName"></field-errors>
    </p>
    <p>
    {% set args = {} %}
    {{ ng_render_field(edit_form.prize, 
        **{
            'placeholder': "Preis",
            'ng-model': "dialog.gift.prize"}) }}
    <field-errors field="dialog.form.prize"></field-errors>
    </p>
    <p>
    {{ ng_render_field( edit_form.url, 
        **{
            'placeholder': "URL",
            'ng-model': "dialog.gift.url"}) }}
    <field-errors field="dialog.form.url"></field-errors>
    </p>
    <p>
        <span class='imageOption'>
            <input 
                ng-init="dialog.imageMethod='upload'"
                class='imageMethodSelector' 
                type="radio" 
                ng-model="dialog.imageMethod"
                value="upload"></input>
            <input 
                ng-disabled='dialog.imageMethod=="url"'
                id="imageFile" 
                type="file" 
                placeholder="image" 
                onchange="angular.element(this).scope().dialog.imageFile = this.files[0]" 
                name="imageFile">
            </input>
        </span>
        <span class='imageOption'>
            <input 
                class="imageMethodSelector"
                type="radio" 
                ng-model="dialog.imageMethod" 
                value="url" 
                ng-click="dialog.debug()">
            </input>
            <input
                ng-disabled='dialog.imageMethod=="upload"'
                id="image"
                type="url"
                placeholder="Bild-Url"
                ng-model="dialog.gift.image"
                name="image">
            </input>
            <field-errors field="dialog.form.image"></field-errors>

        </span>
    {#{ ng_render_field(edit_form.imageFile, 
        **{
            'placeholder': "image",
            'onchange': "angular.element(this).scope().dialog.gift.imageFile = this.files[0]"}) }#}
        <field-errors field="dialog.form.email_confirm"></field-errors>
    </p>
    <p ng-hide="!dialog.gift.image" class='delete-image-checkbox_container'>
    {% set args = { 'label': "Bild löschen", 'ng-model': "dialog.gift.deleteImage" } %}
    {{ ng_render_field(edit_form.deleteImage, 
        **{'ng-model': "dialog.gift.deleteImage"}) }}
    <label for='deleteImage'>Bild löschen</label>
    </p>
    <p>
    {{ ng_render_field(edit_form.description, 
        **{
            'placeholder': "Beschreibung",
            'ng-model': "dialog.gift.description"}) }}
    <field-errors field="dialog.form.description"></field-errors>
    <p>
    {{ ng_render_field(edit_form.mailText, 
        **{
            'placeholder': "ausführliche Beschreibung",
            'ng-model': "dialog.gift.mailText"}) }}
    <field-errors field="dialog.form.mailText"></field-errors>
    </p>
    {#<p>
        {% for error in claim_form.recaptcha.errors %}
            {{ error }}
        {% endfor %}
    </p>#}
{% endblock %}
{% block form_buttons %}
    <button type='submit'>Ok</button>
{% endblock %}
