{% from "_formhelpers.htm" import ng_render_field %}

{{ gift_form.csrf_token }}
{{ ng_render_field(gift_form.surname, "Vorname", "giftForm.gifter.surname") }}
{{ ng_render_field(gift_form.name, "Name", "giftForm.gifter.name") }}
{{ ng_render_field(gift_form.email, "E-Mail-Adresse", "giftForm.gifter.email") }}
{{ ng_render_field(gift_form.email_confirm, "E-Mail-Adresse wiederholen", "giftForm.gifter.confirmEmail") }}
{#<p>
    {% for error in gift_form.recaptcha.errors %}
        {{ error }}
    {% endfor %}
</p>#}
