{% from "_formhelpers.htm" import ng_render_field %}

{{ gift_form.csrf_token }}
{{ ng_render_field(gift_form.name, "Name", "giftForm.gift.name") }}
{{ ng_render_field(gift_form.prize, "Preis", "giftForm.gift.prize") }}
{{ ng_render_field(gift_form.url, "Url", "giftForm.gift.url") }}
{{ ng_render_field(gift_form.image) }}
{{ ng_render_field(gift_form.description, "Beschreibung", "giftForm.gift.description") }}
        {{ ng_render_field(gift_form.mail_text, "E-Mail-Text", "giftForm.gift.mailText") }}
        {#<p>
            {% for error in claim_form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
        </p>#}
