{% extends 'master.htm' %}
{% block header %}
    <h1>Gabentisch zur Hochzeit von Henrike und Tobias</h1>
    {% if logged_in %}
    <a id='logout-button' href='{{ url_for('users.logout') }}'>Log out</a>
    {% endif %}
{% endblock %}
{% block content %}
<main ng-app='giftListApp'>

<div ng-view></div>

{% if logged_in %}
    <div class='add-gift-button_container'>
        <input 
            value='Neues Geschenk'
            ng-click="callGiftForm('new');" 
            type='submit' 
            class='add-gift_button' />
    </div>
{% endif %}

<claimdialog>
</claimdialog>

{#% include 'giftlist/giftForm.htm' %#}

</main>
{% endblock %}
{% block footer %}
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/app.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/giftActionsService.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/giftListCtrl.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/giftListDirective.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/claimDialogDirective.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/claimGiftCtrl.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/equalToDirective.js') }}"></script>
    <script type='application/javascript' src="{{ url_for('static', filename='js/gifts/fieldErrorsDirective.js') }}"></script>
{% endblock %}
