
.gift_form {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    margin: 0;
    justify-content: center;
    align-items: center;



    .gift-form_fields {
        //position: absolute;
        //top: 50%;
        //left: 50%;
        display: inline-block;
        background-color: #CCC;
        padding: 6px 10px 12px 10px;
        box-sizing: border-box;
        //height: 360px;
        width: 322px;
        //margin-top: -180px;
        //margin-left: -161px;
        //transform-y: translate(-50%, -50%);
        outline-style:solid;
        outline-color: #888;
        outline-width: 2px;

        .options {
            display: block;
            width: 100%;
            height: 36px;
            text-align: right;
            box-sizing: border-box;
            border-bottom-width: 1px;
            border-bottom-style: dashed;
            border-bottom-color: #050505;
            padding-bottom: 3px;

        }

        input:not([type=checkbox]):not([type=radio]), textarea {
            width: 200px;
        }

        .delete-image-checkbox_container {
            background-color: #BB5555;
            border-radius: 5px;
            text-align: left;
            width: 200px;
            height: 30px;
            line-height: 30px;
            display: inline-block;

            input {
                display: inline;
                float:left;
                margin-right: 6px;
            }


            label {
                height: 30px;
                display: inline;
                color: #222;
            }
        }

        textarea, input:not([type="submit"]):not([type="file"]) {
            border-style: none;
            background-color: #660505;
            color: white;
            border-radius: 5px;
            padding: 0 4px;
            height: 22px;
            line-height: 22px;

        }

        textarea {
            height: 60px;
        }

        textarea:disabled, input:not([type="file"]):not([type="submit"]):disabled {
            background-color: #888;
        }

        .imageOption {
            display: block;
        }

    }
}

.no-options .gift-form_fields .options {
    display: none;
}

.prize-slider_container {
    display: block;
    margin-left: 0;
    margin-top: 8px;
    padding:0;
}

.prize-slider {
    float:left;
}

.prize-slider.ng-valid, .prize-slider.ng-invalid {
    box-shadow: none;
}

.prize-slider_tag {
}

