ul#gifts {
    color: white;

    dl {
        /*border-width: 1px;
        border-style: dashed;*/
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
        background-color: #880505;
        border-radius: 15px;

        div.gift-options {
            display: block;
            width: 100%;
            height: 0px;
            text-align: right;
            position: relative;
            z-index: 0;

            input.open-form {
                border-top-right-radius: 15px;
                padding: 0 10px;
                border-width: 2px 2px 2px 2px;
                border-color: #CCC;
                border-style: solid;
                line-height: 24px;

                color: 880505;
                background-color: #CCCCCC;
            }

            input.open-form:hover {
                border-style: inset;
                background-color: #AAAAAA;
                border-color: #880505;
                cursor: pointer;
            }
        }

        div {

            display: flex;
            flex-direction: row;

            dt {
                /*border-right-color: white;
                border-right-width: 1px;
                border-right-style: dashed;*/
                padding: 0 10px 0 10px;
                margin-right: 0;
                display: inline-block;
                //max-width: 50%;
                //min-width: 100px;
                flex:1;

                img.gift-image {
                    max-width: 100px;
                    //max-height: 50px;
                    margin-top: 10px;
                }

                p {
                    margin: 10px 0;
                }

                p.gift-name {
                    text-align: left;
                }
            }
            dd {
                flex:3;
                border-left-color: white;
                border-left-width: 1px;
                border-left-style: dashed;
                padding-left: 10px;
                margin-left: -6px;
                text-align: left;
                display: inline-block;

                p.gift-prize {
                }

                p.gift-description {
                }
                p.gift-url {
                }
            }
        }
    }
}

