body {
  background-color: #202020;
  margin: 0;
  text-align: center; }

main {
  margin: auto;
  text-align: center;
  width: 100%;
  background-color: #999999;
  font-family: Geneva, sans-serif;
  min-width: 480px;
  padding: 40px 0; }
  main a {
    color: white; }

div#header h1 {
  font-family: Verdana, Geneva, Georgia, sans-serif;
  font-size: 30px;
  color: #CCCCCC;
  margin-top: 40;
  margin-bottom: 40px;
  display: inline-block; }
div#header a#logout-button {
  color: white;
  font-family: Geneva;
  font-size: 1.4em;
  background-color: #880505;
  text-decoration: none;
  padding: 4px;
  border-width: 1px;
  border-top-width: 0px;
  border-color: white;
  border-style: solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  position: absolute;
  top: 0px;
  right: 4px; }
div#header a#logout-button:hover, div#header a#logout-button:focus {
  color: #880505;
  background-color: white; }

div.vbar {
  border-left-color: white;
  border-left-style: solid;
  border-left-width: 3px;
  height: 100%;
  min-width: 100px;
  width: 0px;
  display: inline-block; }

.errors {
  color: red;
  font-weight: bold; }

dl {
  min-width: 400px;
  max-width: 700px;
  width: 100%;
  margin: auto;
  margin-bottom: 30px; }

p {
  display: block;
  clear: both; }

#credentialsList {
  display: inline-flex;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  align-items: flex-left; }
  #credentialsList label {
    margin-bottom: 30px;
    display: inline-block; }
  #credentialsList li {
    display: block;
    text-align: left; }
    #credentialsList li dl {
      display: block;
      min-width: initial;
      width: initial;
      max-width: initial;
      margin-bottom: 12px;
      background-color: #888;
      padding: 6px; }
    #credentialsList li dt, #credentialsList li dd {
      text-align: left;
      display: inline-block;
      min-width: 40%; }
    #credentialsList li dd::before {
      display: none;
      content: none;
      float: right; }
    #credentialsList li dd {
      margin: 0;
      padding: 0;
      flex: 2;
      font-style: italic; }

.ng-valid.ng-dirty {
  box-shadow: 0 0 4px 2px #fff; }

.ng-invalid.ng-dirty {
  box-shadow: 0 0 2px 1px #f00; }

ul#gifts {
  padding: 0 40px;
  list-style: none;
  font-family: Verdana, Geneva, sans-serif; }

dl.gift {
  color: white;
  background-color: #880505;
  border-radius: 15px; }
  dl.gift div.gift-content_container {
    clear: both;
    margin-bottom: 2px; }
    dl.gift div.gift-content_container div.gift-content {
      display: flex;
      flex-direction: row; }
      dl.gift div.gift-content_container div.gift-content dt {
        /*border-right-width: 1px;
        border-right-style: dashed;*/
        padding: 0 10px 0 10px;
        margin-right: 0;
        display: inline-flex;
        flex: 2 1 0;
        flex-direction: column; }
        dl.gift div.gift-content_container div.gift-content dt p.gift-image {
          width: 100%;
          text-align: left; }
          dl.gift div.gift-content_container div.gift-content dt p.gift-image img {
            margin-top: 10px;
            width: initial;
            height: 100px; }
        dl.gift div.gift-content_container div.gift-content dt p {
          margin: 10px 0; }
        dl.gift div.gift-content_container div.gift-content dt p.gift-name {
          text-align: left;
          display: block; }
    dl.gift div.gift-content_container dd::before {
      content: none; }
    dl.gift div.gift-content_container dd {
      flex: 3 1 0;
      border-left-color: white;
      border-left-width: 1px;
      border-left-style: dashed;
      padding-left: 10px;
      padding-top: 0px;
      margin-left: -6px;
      text-align: left;
      display: inline-block;
      margin-bottom: 2px;
      vertical-align: top; }
      dl.gift div.gift-content_container dd p {
        margin: 8px 0; }
      dl.gift div.gift-content_container dd p.gift-url a {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        display: inline-block;
        max-width: 300px;
        height: 1em; }
      dl.gift div.gift-content_container dd div.gift-options {
        display: inline-block;
        width: 100%;
        text-align: right;
        margin-bottom: 4px; }
        dl.gift div.gift-content_container dd div.gift-options a.delete-gift_link, dl.gift div.gift-content_container dd div.gift-options a.duplicate-gift_link {
          float: right;
          width: 24px;
          height: 24px;
          box-sizing: content-box;
          display: block;
          margin-right: 6px; }
          dl.gift div.gift-content_container dd div.gift-options a.delete-gift_link svg.delete-gift, dl.gift div.gift-content_container dd div.gift-options a.delete-gift_link svg.duplicate-gift, dl.gift div.gift-content_container dd div.gift-options a.duplicate-gift_link svg.delete-gift, dl.gift div.gift-content_container dd div.gift-options a.duplicate-gift_link svg.duplicate-gift {
            width: 28px;
            height: 28px;
            box-sizing: border-box;
            padding: 2px;
            border-width: 2px;
            border-style: solid;
            border-color: #CCCCCC;
            background-color: #CCCCCC;
            fill: #880505;
            stroke: #880505; }
          dl.gift div.gift-content_container dd div.gift-options a.delete-gift_link svg.delete-gift:hover, dl.gift div.gift-content_container dd div.gift-options a.delete-gift_link svg.duplicate-gift:hover, dl.gift div.gift-content_container dd div.gift-options a.duplicate-gift_link svg.delete-gift:hover, dl.gift div.gift-content_container dd div.gift-options a.duplicate-gift_link svg.duplicate-gift:hover {
            background-color: #AAAAAA;
            border-color: #880505;
            cursor: pointer; }
        dl.gift div.gift-content_container dd div.gift-options input.open-form {
          border-top-right-radius: 15px;
          padding: 0 10px;
          border-width: 2px 2px 2px 2px;
          border-color: #CCC;
          border-style: solid;
          line-height: 24px;
          height: 24px;
          width: 98px;
          box-sizing: content-box;
          color: 880505;
          background-color: #CCCCCC;
          float: right;
          display: block; }
        dl.gift div.gift-content_container dd div.gift-options input.open-form:hover {
          border-color: #880505;
          background-color: #AAAAAA;
          cursor: pointer; }
  dl.gift p.gift-mail-text {
    width: 100%;
    display: block;
    border-top-style: dashed;
    border-top-width: 1px;
    border-top-color: white;
    padding: 10px; }
  @media only screen and (max-device-width: 790px) and (orientation: landscape) {
    dl.gift {
      height: 95%; } }

.gift_form {
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
  justify-content: center;
  align-items: center; }
  .gift_form .gift-form_fields {
    display: inline-block;
    background-color: #CCC;
    padding: 6px 10px 12px 10px;
    box-sizing: border-box;
    width: 322px;
    outline-style: solid;
    outline-color: #888;
    outline-width: 2px; }
    .gift_form .gift-form_fields .options {
      display: block;
      width: 100%;
      height: 36px;
      text-align: right;
      box-sizing: border-box;
      border-bottom-width: 1px;
      border-bottom-style: dashed;
      border-bottom-color: #050505;
      padding-bottom: 3px; }
    .gift_form .gift-form_fields input:not([type=checkbox]):not([type=radio]), .gift_form .gift-form_fields textarea {
      width: 200px; }
    .gift_form .gift-form_fields .delete-image-checkbox_container {
      background-color: #BB5555;
      border-radius: 5px;
      text-align: left;
      width: 200px;
      height: 30px;
      line-height: 30px;
      display: inline-block; }
      .gift_form .gift-form_fields .delete-image-checkbox_container input {
        display: inline;
        float: left;
        margin-right: 6px; }
      .gift_form .gift-form_fields .delete-image-checkbox_container label {
        height: 30px;
        display: inline;
        color: #222; }
    .gift_form .gift-form_fields textarea, .gift_form .gift-form_fields input:not([type="submit"]):not([type="file"]) {
      border-style: none;
      background-color: #660505;
      color: white;
      border-radius: 5px;
      padding: 0 4px;
      height: 22px;
      line-height: 22px; }
    .gift_form .gift-form_fields textarea {
      height: 60px; }
    .gift_form .gift-form_fields textarea:disabled, .gift_form .gift-form_fields input:not([type="file"]):not([type="submit"]):disabled {
      background-color: #888; }
    .gift_form .gift-form_fields .imageOption {
      display: block; }

.no-options .gift-form_fields .options {
  display: none; }

.prize-slider_container {
  display: block;
  margin-left: 0;
  margin-top: 8px;
  padding: 0; }

.prize-slider {
  float: left; }

.prize-slider.ng-valid, .prize-slider.ng-invalid {
  box-shadow: none; }

#gift-preview-full .gift-options {
  display: none; }

.field-error_container {
  color: #990000;
  font-size: 0.7em;
  margin-top: 10px;
  display: block;
  font-weight: bold; }

#gifter-data {
  border-width: 3px;
  border-color: #880505;
  border-style: solid;
  border-radius: 15px;
  color: white;
  display: inline-block;
  max-width: 400px;
  padding: 0 10px; }
  #gifter-data dt, #gifter-data dd {
    display: block;
    background-color: white;
    text-align: center;
    box-sizing: border-box;
    padding: 4px;
    border-width: 1px;
    border-style: solid;
    border-color: #666;
    color: #880505; }
  #gifter-data dt {
    padding-bottom: 0;
    padding-right: 2em;
    margin-top: 10px;
    border-bottom-width: 0px; }
  #gifter-data dd {
    padding-top: 0;
    margin-left: 0px;
    padding-left: 40px;
    border-top-width: 0px;
    margin-bottom: 10px; }

.info {
  border-color: white;
  border-width: 1px;
  border-radius: 15px;
  border-style: solid;
  padding: 10px;
  background-color: white;
  margin: 20px auto;
  max-width: 700px;
  color: #880505; }

.gifts-info {
  font-size: 0.8em; }

.italic {
  font-style: italic; }

.claimBy {
  color: white; }

.close-button {
  width: 32px;
  height: 32px;
  background-image: url(../img/close.svg);
  background-size: 32px 32px;
  display: inline-block;
  float: right; }

.close-button:hover {
  cursor: pointer; }

button {
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  border-width: 3px;
  border-style: solid;
  border-color: #BB3535;
  background-color: #880505;
  color: #FFCCCC;
  padding: 4 8;
  margin: 0 4px; }

button:hover {
  background-color: #BB3535;
  cursor: pointer; }

button:disabled {
  background-color: #777;
  border-color: #888;
  color: #CCC;
  cursor: initial; }

.wedding-ring {
  margin-left: 30px;
  margin-top: 12px;
  height: 50px;
  width: 50px;
  border-color: #CCC;
  border-width: 5px;
  border-style: solid;
  border-radius: 35px;
  display: inline-block;
  position: absolute; }

#ring2 {
  margin-left: 44px;
  margin-top: 29px; }

a {
  word-wrap: break-word; }

#fork-me {
  background-color: rgba(60, 113, 180, 0.4);
  display: block;
  width: 200px;
  height: 28px;
  line-height: 28px;
  color: black;
  text-decoration: none;
  font-family: Geneva, sans-serif;
  font-weight: bold;
  transform: rotate(-45deg);
  font-size: 12px;
  position: absolute;
  top: 46px;
  left: -44px;
  outline-style: none; }

#fork-me:hover {
  color: white;
  background-color: #3c71b4; }

.notifications-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; }

.notifications-list {
  width: 100%;
  max-width: 900px;
  display: block;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  z-index: 50; }
  .notifications-list hr {
    width: 100%; }
  .notifications-list .notification {
    width: initial;
    max-width: initial;
    min-height: 40px;
    box-sizing: border-box;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0 20px;
    display: block;
    background: none;
    border-style: none;
    border-radius: 0px;
    border-width: 0px;
    border-top-width: 1px;
    border-color: #880505;
    border-style: dashed;
    padding: 10px;
    color: #880505; }
    .notifications-list .notification .close-button {
      margin-top: -8px; }
  .notifications-list .notification:first-of-type {
    border-style: none !important; }
  .notifications-list .notification.error {
    background-color: rgba(200, 5, 5, 0.3); }

/*# sourceMappingURL=style.css.map */
