body {
    background-color: #202020;
    margin:0;
    text-align: center;
}

main {
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: #999999;
    //background-color: #202020;
    //box-sizing: border-box;
    font-family: Geneva, sans-serif;
    min-width: 480px;
    padding: 40px 0;

    a {
        color: white;
    }
}

div#header {
    h1 {
        font-family: Verdana, Geneva, Georgia, sans-serif;
        font-size: 30px;
        color: #CCCCCC;
        margin-top: 40;
        margin-bottom: 40px;
        display: inline-block;
    }

    a#logout-button {
        color: white;
        font-family: Geneva;
        font-size: 1.4em;
        background-color: #880505;
        text-decoration: none;
        padding: 4px;
        border-width: 1px;
        border-top-width: 0px;
        border-color: white;
        border-style: solid;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        top: 0px;
        right: 4px;
    }

    a#logout-button:hover, a#logout-button:focus {
        color: #880505;
        background-color: white;
    }

}
div.vbar {
    border-left-color: white;
    border-left-style: solid;
    border-left-width: 3px;
    height: 100%;
    min-width: 100px;
    width: 0px;
    display: inline-block;

}

.errors {
    color: red;
    font-weight: bold;
}

dl {

    min-width: 400px;
    max-width: 700px;
    width: 100%;
    margin: auto;
    margin-bottom: 30px;
}

p {
    display: block;
    clear: both;
}

#credentialsList {
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    align-items: flex-left;
    

    label {
        margin-bottom: 30px;
        display: inline-block;
    }

    li {
        display: block;
        text-align: left;

        dl {
            display: block;
            min-width: initial;
            width: initial;
            max-width: initial;
            margin-bottom: 12px;
            background-color: #888;
            padding: 6px;
        }

        dt, dd {
            text-align: left;
            display: inline-block;
            min-width: 40%;
        }
        dt {
        }
        dd::before {
            display: none;
            content: none;
            float:right;
        }
        dd {
            margin: 0;
            padding: 0;
            flex: 2;
            font-style: italic;
        }
    }

}

.ng-valid.ng-dirty {
    box-shadow: 0 0 4px 2px #fff;
}

.ng-invalid.ng-dirty {
    //border-color: red;
    //box-shadow: none;
    box-shadow: 0 0 2px 1px #f00;
}

@import 'giftList';
@import 'giftForm';

#gift-preview-full .gift-options {
    display: none;
}

.field-error_container {
    color: #990000;
    font-size: 0.7em;
    margin-top: 10px;
    display: block;
    font-weight: bold;
}

#gifter-data {
    border-width: 3px;
    border-color: #880505;
    border-style: solid;
    border-radius: 15px;
    color: white;
    display: inline-block;
    max-width: 400px;
    padding: 0 10px;

    dt, dd {
        display: block;
        background-color: white;
        text-align: center;
        box-sizing: border-box;
        padding: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: #666;
        color: #880505;

    }
    dt {
        padding-bottom: 0;
        padding-right: 2em;
        margin-top: 10px;
        border-bottom-width: 0px;
    }

    dd {
        padding-top: 0;
        margin-left: 0px;
        padding-left: 40px;
        border-top-width: 0px;
        margin-bottom: 10px;
    }
}

.info {
    border-color: white;
    border-width: 1px;
    border-radius: 15px;
    border-style:solid;
    padding: 10px;
    background-color: white;
    margin: 20px auto;
    max-width: 700px;
    color: #880505;
}

.claimBy {
    color: white;
}

.close-button {
    width: 32px;
    height: 32px;
    background-image: url(../img/close.svg);
    background-size: 32px 32px;
    display: inline-block;
    float:right;
}

.close-button:hover {
    cursor: pointer;
}

button {
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    border-width: 3px;
    border-style: solid;
    border-color: #BB3535;
    background-color: #880505;
    color: #FFCCCC;
    padding: 4 8;
    margin: 0 4px;
}

button:hover {
    background-color: #BB3535;
    cursor:pointer;
}

@import 'notifications';
