{% from "_formhelpers.htm" import render_field %}

{% macro render_edit_gift_form( form, list_id, populate=False, hide=False ) %}
<div class='newgift-form_container'>
    <form class='newgift-form' method='post' action="." enctype="multipart/form-data">
        {{ form.csrf_token }}
        {{ render_field(form.name) }}
        {{ render_field(form.prize) }}
        {{ render_field(form.url) }}
        {{ render_field(form.image) }}
        {{ render_field(form.description) }}
        {{ render_field(form.mail_text) }}

        {#<p>
            {% for error in form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
        </p>#}
        <p>
            <input type="SUBMIT" value='Geschenk speichern'>
        </p>
    </form>
</div>

{% endmacro %}
