{% from "giftlist/admin/_editGiftForm.htm" import render_edit_gift_form %}
{% from "_formhelpers.htm" import render_field %}
{% extends "master.htm" %}

{% block content %}
<form action='{{ url_for('.edit_list', gift_list_id=gift_list.id) }}' method='POST'>
    {{ list_settings_form.csrf_token }}
    {{ render_field(list_settings_form.show) }}
    {{ render_field(list_settings_form.delete) }}
    {{ render_field(list_settings_form.submit) }}
</form>
<dl class='giftlist'>
{% if gift_list.gifts is defined and gift_list.gifts|length != 0 %}
{% for gift in gift_list.gifts %}
    <dt class='gift' id='gift-{{ gift.id }}'>
        {% if gift.image %}
        <div class='gift-image'><img src='{{ url_for('static', filename=gift.image) }}' /></div>
        {% endif %}
        <div class='gift-name'>{{ loop.index }} - {{ gift.name }}</div>
    </dt>
    <dd>
        <div class='gift_url' style='display:none;'>
            <p class='label'>URL:</p>
            <p class='value'>{{ gift.url }}</p>
        </div>
        <div class='gift_description' style='display:none;'>
            <p class='label'>Beschreibung:</p>
            <p class='value'>{{ gift.description }}</p>
        </div>
        <div class='gift_mail-text' style='display:none;'>
            <p class='label'>Email-Text:</p>
            <p class='value'>{{ gift.mail_text }}</p>
        </div>
        <div class="gift_form_container" style="display:;">
            {% set f = gift_form.reset() %}
            {% set f = gift_form.process(obj=gift) %}

            <form id='gift-{{ gift.id }}_form' class='edit-gift_form' method='post' action="{{ url_for('.edit_gift', gift_id=gift.id) }}" enctype="multipart/form-data">
                {{ gift_form.csrf_token }}
                {{ gift_form.gift_list_id() }}
                {{ render_field(gift_form.name) }}
                {{ render_field(gift_form.prize) }}
                {{ render_field(gift_form.url) }}
                {{ render_field(gift_form.image) }}
                {{ render_field(gift_form.description) }}
                {{ render_field(gift_form.mail_text) }}
                <input type='submit' value='speichern'>
            </form>
        </div>
    </dd>
    </a>
{% endfor %}
{% else %}
    <dt class='gift' id='gift-placeholder'>
        Es sind noch keine Geschenke in der Liste.
    </dt>
{% endif %}
{#{ render_edit_gift_form(edit_gift_form, gift_list.id) }#}
</dl>
{% endblock %}
