{% from "_formhelpers.htm" import ng_render_field %}

{{ gift_form.csrf_token }}
{{ gift_form.gift_list_id(**{"ng-model":"selectedGift.id"}) }}
{{ ng_render_field(gift_form.name, "Name", "selectedGift.name") }}
{{ ng_render_field(gift_form.prize, "Preis", "selectedGift.prize") }}
{{ ng_render_field(gift_form.url, "Url", "selectedGift.url") }}
{{ ng_render_field(gift_form.image) }}
{{ ng_render_field(gift_form.description, "Beschreibung", "selectedGift.description") }}
{{ ng_render_field(gift_form.mail_text, "E-Mail-Text", "selectdGift.mailText") }}
{#<p>
    {% for error in claim_form.recaptcha.errors %}
        {{ error }}
    {% endfor %}
</p>#}
<p>
    <input type="SUBMIT" value='speichern'>
</p>
