{% macro render_field(field, placeholder=None) %}
    <p>
        {% if field.label %}
            {{ field.label }}<br />
        {% endif %}
        {{ field() }}
    </p>
    {% if field.errors %}
        <ul class='errors'>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro ng_render_field(field) %}
            {#% set f = kwargs.update( {"info":
                "required_flag: " ~ field.flags.required
                + "; optional_flag: " ~ field.flags.optional
                + "; type: " ~ field.type
                + "; name: " ~ field.name } ) %#}
        {#% if field.label  and not field.type == 'checkbox' %}
            {{ field.label }}<br />
        {% endif %#}
        {% if kwargs["ng_model"] %}
            {#% set f = kwargs.update( {"ng-init": ng-model + "=" + field.data }) %#}
        {% endif %}
        {% if field.flags.required %}
            {% set f = kwargs.update( {"required": True} ) %}
            {% set f = kwargs.update( {"info": field.name } ) %}
        {% endif %}
        {{ field(**kwargs) }}
        {#% if field.label  and field.type == 'checkbox' %}
            {{ field.label }}
        {% endif %#}
{% endmacro %}
