{% macro render_field(field, placeholder=None) %}
    <p>
        {% if field.label %}
            {{ field.label }}<br />
        {% endif %}
        {{ field() }}
    </p>
    {% if field.errors %}
        <ul class='errors'>
        {% for error in field.errors %}
            <li>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}

{% macro ng_render_field(field, placeholder=None, ng_model=None) %}
    <p>
        {% if field.label %}
            {# {{ field.label }}<br />#}
        {% endif %}
        {% set args = dict() %}
        {% if ng_model %}
            {% set f = args.update( {"ng-model":ng_model} ) %}
        {% endif %}{% if placeholder %}
            {% set f = args.update( {"placeholder":placeholder} ) %}
        {% endif %}
        {{ field(**args) }}
    </p>
    {% if field.errors %}
        <ul class='errors'>
        {% for error in field.errors %}
            <li class='wtf-error'>{{ error }}</li>
        {% endfor %}
        </ul>
    {% endif %}
{% endmacro %}
