{% from "_formhelpers.htm" import render_field %}

<div id='newgift-form_container'>
    <form id='newgift-form' method='post' action='{{ url_for('.add_gift') }}'>
        {{ edit_gift_form.csrf_token }}
        {% set f = edit_gift_form.gift_list_id.process_data( gift_list.id ) %}
        {{ edit_gift_form.gift_list_id() }}
        {{ render_field(edit_gift_form.name) }}
        {{ render_field(edit_gift_form.prize) }}
        {{ render_field(edit_gift_form.url) }}
        {{ render_field(edit_gift_form.image) }}
        {{ render_field(edit_gift_form.description) }}
        {{ render_field(edit_gift_form.mail_text) }}

        {#<p>
            {% for error in form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
        </p>#}
        <p>
            <input type="SUBMIT" value='Geschenk speichern'>
        </p>
    </form>
</div>


