<form 
    class='gift_form' 
    method='post' 
    novalidate 
    name='dialog.form'
    {#ng-action='{{ "{{" }} vm.action {{ "}}" }}' #}
    {% block form_attributes %}
    {% endblock %}
    >
    <fieldset class='gift-form_fields'>
        <div class='options'>
            <div class='close-button' title="schließen" ng-click='dialog.close()'>
            </div>
        </div>
        {% block form_fields %}
        {% endblock %}
        <p>
            {% block form_buttons %}
            {% endblock %}
            <button type='button' ng-click='dialog.debug();claimDialog.$validate()'>Debug</button>
        </p>
    </fieldset>
</form>
