<form 
    class='gift_form' 
    method='post' 
    ng-show='vm.show' 
    novalidate 
    {#ng-action='{{ "{{" }} vm.action {{ "}}" }}' #}
    {% block form_attributes %}
    {% endblock %}
    >
    <fieldset id='gift-form_fields'>
            <div class='options'>
                <div class='close-button' title="schließen" ng-click='vm.closeDialog()'>
                </div>
            </div>
            {% block form_fields %}
            {% endblock %}
        <p>
        <button type='submit'>Speichern</button>
        <button type='button' ng-click='vm.debug()'>Debug</button>
        </p>
    </fieldset>
</form>
