{% from "_editGiftForm.htm" import render_edit_gift_form %}
{% from "_formhelpers.htm" import render_field %}
{% extends 'master.htm' %}

{% block content %}
<form action='{{ url_for('.edit_list', gift_list_id=gift_list.id) }}' method='POST'>
    {{ list_settings_form.csrf_token }}
    {{ render_field(list_settings_form.show) }}
    {{ render_field(list_settings_form.delete) }}
    {{ render_field(list_settings_form.submit) }}
</form>
<dl class='giftlist'>
{% if gift_list.gifts is defined and gift_list.gifts|length != 0 %}
{% for gift in gift_list.gifts %}
    <dt class='gift' id='gift-{{ gift.id }}'>
        <div class='gift-count'>{{ loop.index }}</div>
        <div class='gift-name'>{{ gift.name }}</div>
    </dt>
    <dd>
        <div class='gift_url'>
            <p class='label'>URL:</p>
            <p class='value'>{{ gift.url }}</p>
        </div>
        <div class='gift_description'>
            <p class='label'>Beschreibung:</p>
            <p class='value'>{{ gift.description }}</p>
        </div>
        <div class='gift_mail-text'>
            <p class='label'>Email-Text:</p>
            <p class='value'>{{ gift.mail_text }}</p>
        </div>
        <div class="gift_form_container" style="display:none;">
            {% set f = gift_form.reset() %}
            {% set f = gift_form.populate_with(gift) %}
            {{ render_edit_gift_form(gift_form, gift_list.id, hide=False) }}
        </div>
    </dd>
    </a>
{% endfor %}
{% else %}
    <dt class='gift' id='gift-placeholder'>
        Es sind noch keine Geschenke in der Liste.
    </dt>
{% endif %}
{#{ render_edit_gift_form(edit_gift_form, gift_list.id) }#}
</dl>
{% endblock %}
