<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/style.css') }}">
        <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-route.js"></script>
        <script type="application/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
        <base href='/'>
    </head>
    <body>
        <div id='header'>
        {% block header %}
        {% endblock %}
        </div>
        {% block content %}
        {% endblock %}
        {% block footer %}
        {% endblock %}
    </body>
</html>

