{% extends 'formMaster.htm' %}
{% from "_formhelpers.htm" import ng_render_field %}

{% block form_attributes %}
    name='dialog.form' 
    class='edit-gift_form'
    ng-submit='dialog.submit()'
    ng-show='dialog.shown'
    {#% if not claim_form.validate_on_submit() %}
        ng-init="vm.claimDialog.$setDirty(); vm.show();"
    {% endif %#}
{% endblock %}

{% block form_fields %}
{#
    {% set args = {
        "minlength": "3",
        "pattern": ".{3}.*", 
        "title": "Mindestens 3 Buchstaben sind erforderlich."} %}
    <p>
    {{ ng_render_field(
        delete_form.name, 
        "Name", 
        "dialog.gift.giftName",  
        args) }}
    <field-errors field="dialog.form.name"></field-errors>
    </p>
    <p>
    {{ ng_render_field(
        delete_form.prize, 
        "Preis", 
        "dialog.gift.prize", 
        args) }}
    <field-errors field="dialog.form.prize"></field-errors>
    </p>
    <p>
    {{ ng_render_field(
        delete_form.url, 
        "URL",
        "dialog.gift.url") }}
    <field-errors field="dialog.form.url"></field-errors>
    </p>
    <p>
    </p>
    <p>
    {{ ng_render_field(
        delete_form.description, 
        "Beschreibung",
        "dialog.gift.description") }}
    <field-errors field="dialog.form.description"></field-errors>
    <p>
    {{ ng_render_field(
        delete_form.mail_text, 
        "ausführliche Beschreibung",
        "dialog.gift.mailText") }}
    <field-errors field="dialog.form.url"></field-errors>
    </p>#}
    <div class='info'>Wollen sie das Geschenk "{{"{{"}} dialog.gift.giftName {{"}}"}}" wirklich löschen?</div>
{% endblock %}
{% block form_buttons %}
    <button type='submit'>Ja</button>
{% endblock %}
