<div class='gift-content_container'>
    <div class='gift-content'>
    <dt>
        <p class='gift-image'>
            <img class='gift-image' ng-src='{{"{{"}} gift.image {{"}}"}}' />
        </p>
        <p class='gift-name'>
            {{ "{{" }} gift.giftName {{ "}}" }}
        </p>
    </dt>
    <dd>

        <div class='gift-options'>
            <input 
            {% if logged_in %}
                value='bearbeiten'
                class='open-form edit_button'
                ng-click='giftList.editGift($index);' 
            {% else %}
                value='reservieren' 
                class='open-form claim_button' 
                ng-click='giftList.claimGift($index);' 
            {% endif %}
                type='submit' 
                id='open-form_gift-{{ "{{" }} gift.id {{ "}}" }}'/>
            {% if logged_in %}
                <a class='delete-gift_link' 
                    ng-click='giftList.deleteGift($index)'>
                    <span>
                        <svg 
                            class='delete-gift' 
                            xmlns:svg="http://www.w3.org/2000/svg" 
                            xmlns="http://www.w3.org/2000/svg" 
                            viewBox="0 0 32 32" 
                            version="1.1" 
                            height="32" 
                            width="32">
                           {% include 'svg/trashbin.svg' %}
                        </svg>
                    </span>
                </a>
                <a class='duplicate-gift_link'
                    ng-click='giftList.duplicateGift($index)'>
                    <span>
                        <svg
                            class='duplicate-gift'
                            xmlns:svg="http://www.w3.org/2000/svg"
                            xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 32 32"
                            version="1.1"
                            height="32"
                            width="32">
                            {% include 'svg/duplicate.svg' %}
                    </span>
                </a>
            {% endif %}
        </div>

        <p class='gift-prize' ng-show="gift.collaborative">
            Preis: 10&euro; - {{
                                "{{"}}giftList.loggedIn ? gift.prize : gift.remaining_prize{{"}}"
                              }}&euro;
            <span 
                class='prize-slider_container' 
                ng-show='claimView'>
                <input 
                    class='prize-slider' 
                    ng-model='gift.prize' 
                    type='range' 
                    step='10' 
                    min='10' 
                    max='{{"{{"}} gift.remaining_prize {{"}}"}}'>
                <span class='prize-slider_tag'>
                    ({{"{{"}}gift.prize{{"}}"}}&euro;)
                </span>
            </span>
        </p><p class='gift-prize' ng-show="!gift.collaborative">
            Preis (ca.): {{ "{{" }} gift.remaining_prize {{ "}}" }}&euro;
        </p>
        <p class='gift-description' ng-show='gift.description'>
            {{ "{{" }} gift.description {{ "}}" }}
        </p>
        <p class='gift-url' ng-show='gift.url'>
            Link: 
            <a ng-href='{{ "{{" }} gift.url {{ "}}" }}'>
                {{ "{{" }} gift.url {{ "}}" }}
            </a>
        </p>
    </dd>
    </div>
    <p class='gift-mail-text' ng-show="gift.mailText && claimView">
        {{ "{{" }} gift.mailText {{ "}}" }}
    </p>
</div>
