<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
	<link rel='stylesheet' type='text/css' href='{{ url_for('static', filename='style.css') }}'>
</head>
<body>
	<main>
		<h1>Willkommen beim Hochzeitstisch von Henrike und Tobias!</h1>
		<div class='wedding_ring' id='ring1'>
			<!--<div class='outer_ring'>
				<div class='innerRing'>
				</div>
			</div>-->
		</div>
		<div class='wedding_ring' id='ring2'></div>
			<section>
				<div class='content'>
					<p>
						Hier wird in Kürze eine Liste mit Geschenkwünschen für unsere Hochzeit zu finden sein. Leider ist sie aber noch nicht fertig.<br />
						Wir arbeiten daran. &#9786;
					</p>
					<p class='signature'>
						Henrike &amp; Tobias
					</p>
				</div>
			</section>
		<!--<figure><img src='me.jpg'></figure>-->
	</main>
</body>
</html>
