ul#gifts {
    color: white;

    dl {
        /*border-width: 1px;
        border-style: dashed;*/
        display: flex;
        width: 400px;
        margin: auto;
        margin-bottom: 30px;
        background-color: #880505;
        border-radius: 15px;

        div.gift-options {
            width: 100%;
            height: 0px;
            text-align: right;
            position: relative;
            z-index: 0;

            input.claim-gift {
                border-top-right-radius: 15px;
                padding: 0 10px;
                border-width: 2px;
                border-color: #CCCCCC;
                border-style: solid;
                line-height: 24px;

                color: 880505;
                background-color: #CCCCCC;
            }

            input.claim-gift:hover {
                border-style: inset;
                background-color: #AAAAAA;
                cursor: pointer;
                border-color: #880505;
            }
        }

        dt {
            border-right-color: white;
            border-right-width: 1px;
            border-right-style: dashed;
            display: flex;
            flex-direction: row;
            flex: 1;
            padding-right: 10px;
            margin-right: 0;

            p.gift-name {
            }
            p.gift-prize {
            }
        }
        dd {
            border-left-color: white;
            border-left-width: 1px;
            border-left-style: dashed;
            padding-left: 10px;
            display: flex;
            flex-direction: row;
            flex: 2;
            margin-left: -6px;
            text-align: left;

            p.gift-description {
            }
            p.gift-url {
            }
        }
    }
}

