body {
    background-color: #202020;
    margin:0;
    text-align: center;
}

main {
    margin: auto;
    text-align: center;
    width: 100%;
    background-color: #999999;
    //background-color: #202020;
    padding-top: 40px;
}

h1 {
    font-family: Verdana, Geneva, Georgia, sans-serif;
    font-size: 30px;
    color: #CCCCCC;
    margin-top: 40;
    margin-bottom: 40px;
    display: inline-block;
}

@import 'giftList'
