{% from "_formhelpers.htm" import render_field %}

<form 
    id='claim-form' 
    method='post' 
    action='{{ url_for('.index') }}' 
    style='display:{{ '{{' }} claimFormDisplay {{ '}}' }};'>
    <fieldset id='claim-form_fields'>
        <div class='options'>
            <div class='close-button' title="schließen" ng-click='cancelClaimGift()'></div>
        </div>
        {{ claim_form.csrf_token }}
        {{ claim_form.gift_id() }}
        {{ render_field(claim_form.surname) }}
        {{ render_field(claim_form.name) }}
        {{ render_field(claim_form.email) }}
        {{ render_field(claim_form.email_confirm) }}

        {#<p>
            {% for error in claim_form.recaptcha.errors %}
                {{ error }}
            {% endfor %}
        </p>#}
        <p>
            <input type="SUBMIT" value='Geschenk reservieren'>
        </p>
    </fieldset>
</form>

