<ul id='gifts' 
    ng-init="loadGifts([
    {% for gift in gifts %}
        {
            id: '{{ gift.id }}',
            name: '{{ gift.name }}',
            prize: '{{ gift.prize }}',
            url: '{{ gift.url }}',
            description: '{{ gift.description }}',
            {% if gift.image %}
            image: '{{ url_for('static', filename=gift.image) }}',
            {% else %}
            image: null,
            {% endif %}
            mailText: '{{ gift.mail_text }}'
        },

    {% endfor %}
    ]);">

<dl ng-repeat="gift in gifts">
    <div class='gift-content'>
        <dt>
            <img class='gift-image' ng-src='{{ "{{" }} gift.image {{ "}}" }}' />
            <p class='gift-name'>
                {{ "{{" }} gift.name {{ "}}" }}
            </p>
        </dt>
        <dd>

            <div class='gift-options'>
                <input 
                {% if logged_in %}
                    value='bearbeiten'
                    class='open-form edit_button'
                {% else %}
                    value='reservieren' 
                    class='open-form claim_button' 
                {% endif %}
                    ng-click="callGiftForm($index, $event);" 
                    type='submit' 
                    id='open-form_gift-{{ "{{" }} gift.id {{ "}}" }}'/>
                {% if logged_in %}
                    <a class='delete-gift_link' ng-href='gift/{{ "{{" }} gift.id {{ "}}" }}/delete/'>
                    <span>
                    <svg class='delete-gift' xmlns:svg="http://www.w3.org/2000/svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" version="1.1" height="32" width="32">
                       {% include 'giftlist/public/trashbin.svg' %}
                    </svg>
                    </span>
                    </a>
                {#<object 
                    type='image/svg+xml'
                    data='{{ url_for('static', filename='img/trashbin_optimized.svg') }}' 
            class='delete-gift'/>
                </object>#}
                {% endif %}
            </div>

            <p class='gift-prize'>
                Preis: {{ "{{" }} gift.prize {{ "}}" }}
            </p>
            <p class='gift-description'>
                {{ "{{" }} gift.description {{ "}}" }}
            </p>
            <p class='gift-url'>
                URL: 
                <a ng-href='{{ "{{" }} gift.url {{ "}}" }}'>
                    {{ "{{" }} gift.url {{ "}}" }}
                </a>
            </p>
        </dt>
    </div>
</dl>

</ul>

