<ul id='gifts' 
    ng-init="loadGifts([
    {% for gift in gifts %}
        {
            id: '{{ gift.id }}',
            name: '{{ gift.name }}',
            prize: '{{ gift.prize }}',
            url: '{{ gift.url }}',
            description: '{{ gift.description }}',
            {% if gift.image %}
            image: '{{ url_for('static', filename=gift.image) }}',
            {% else %}
            image: null,
            {% endif %}
            mailText: '{{ gift.mail_text }}'
        },

    {% endfor %}
    ]);">

<dl ng-repeat="gift in gifts">
    <div class='gift-options'>
        <input 
        {% if logged_in %}
            value='bearbeiten'
        {% else %}
            value='reservieren' 
        {% endif %}
            ng-click="callGiftForm($index);" 
            type='submit' 
            class='open-form' 
            id='open-form_gift-{{ "{{" }} gift.id {{ "}}" }}'/>
    </div>
    <div class='gift-content'>
        <dt>
            <img class='gift-image' ng-src='{{ "{{" }} gift.image {{ "}}" }}' />
            <p class='gift-name'>
                {{ "{{" }} gift.name {{ "}}" }}
            </p>
        </dt>
        <dd>
            <p class='gift-prize'>
                Preis: {{ "{{" }} gift.prize {{ "}}" }}
            </p>
            <p class='gift-description'>
                {{ "{{" }} gift.description {{ "}}" }}
            </p>
            <p class='gift-url'>
                URL: 
                <a ng-href='{{ "{{" }} gift.url {{ "}}" }}'>
                    {{ "{{" }} gift.url {{ "}}" }}
                </a>
            </p>
        </dt>
    </div>
</dl>

</ul>

